@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    font-family: 'Nunito', sans-serif;
}
li{
    list-style-type: none;
}
.uk-flex-none{
    flex:none!important;
}
ul{
    padding: 0;
}