body{
    background-color: rgb(194, 194, 194);
}
.btn{
    background-color: yellow;
}
path{
    cursor: pointer;
}
.img{
    width: 200px;
    height: 200px;
}
.logo{
    background-color: purple;
}
.card-text{
    height: 100px;
    overflow:hidden ;
}
.card-body a:hover{
    color: white;
}
.bi-heart:hover{
    color: red;
}
.bi-question-circle:hover{
    color: white;
    background-color: gray;
    border-radius: 100%;
}
.card:hover{
    -webkit-box-shadow: 6px 7px 43px 4px rgba(0,0,0,0.6); 
    box-shadow: 6px 7px 43px 4px rgba(0,0,0,0.6);
    transform: scale(1.03);
}

